* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

a.header_link:visited {
    color: black;
}

.header_link {
    display: flex;
    justify-content: center;
}

.container {
    font-family: "Roboto", sans-serif;
    width: 100%;
}

.header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.top_line {
    background-color: rgb(145, 199, 199);
    font-size: 1em;
    height: 5rem;
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-template-areas: "nav1 logo nav2";
}

.nav1 {
    grid-area: nav1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: start;
    padding: 30px 25px 25px;
}

.nav2 {
    grid-area: nav2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: end;
    text-align: end;
    padding: 30px 25px 25px;
}

.basket {
    justify-self: end;
}

.logo {
    display: grid;
    grid-area: logo;
    align-self: center;
    padding: 1em 3em;
}

.nav2 {
    grid-area: nav2;
}

.nav_burger{
    display: none;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #005466;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 2em;
}

.banner {
    display: grid;
    background-color: #005466;
    background-image: url(assets/Header_background.png);
    background-size: cover;
    height: 54em;
}

.bg_img_container{
    display:none;
}

.bg_img{
    background-repeat: no-repeat;
    background-size: contain;
}

.text_block {
    /* float: left; */
    width: 30%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (3, 1fr);
    gap: 30px;
    margin: 10% 10% 20%;
    color: white;
}

.title {
    font-size: 3.5em;
    font-weight: bold;
}

.text {
    font-size: 1em;
}

.black_button {
    background-color: black;
    height: 2rem;
    width: 4rem;
    /* padding: 20px 30px; */
    color: white;
}

.cookies_disclaimer {
    position: fixed;
    top: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 25% 15%;
    align-content: center;
    color: white;
    font-size: 1em;
    background-color: black;
    height: 4em;
    margin: 25px 0 0;
    padding-left: 20px;
}

.learn_more {
    align-content: start;
}

.learn_more:visited {
    color: white;
}

.got_it {
    border-radius: 5px;
    height: 150%;
    width: 70%;
    align-self: center;
    justify-self: center;
}

.buffer {
    height: 12em;
    background-color: #F0FAF7;
}

.main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.subtitle {
    font-size: 2.5em;
    font-weight: bold;
    margin: 25px;
}

.block1 {
    display: grid;
    gap: 1em;
    justify-items: center;
    text-align: center;
    margin: 2em 0 6em;
}

.block1_text {
    margin: 10% 0 0;
    width: 50%;
}

.wrapper-shop {
    width: 100%;
    margin: 1em 0;
}

.assortment {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    margin-top: 1em;
}

.energy-focus {
    grid-column: 1/2;
    background-color: #005466;
    /* width: 18em;
    height: 15.5em; */
    display: grid;
    justify-content: center;
    padding: 45px 20px;
}

.calm-clarity {
    grid-column: 2/3;
    background-color: #F7D8BF;
    /* width: 18em;
    height: 15.5em; */
    display: grid;
    justify-content: center;
    padding: 45px 20px;
}

.ideal-state {
    grid-column: 3/4;
    background-color: #F1FAF6;
    /* width: 18em;
    height: 15.5em; */
    display: grid;
    justify-content: center;
    padding: 45px 20px;
}

.energy-icon {
    align-self: center;
    justify-self: center;
}

.calm-icon {
    align-self: center;
    justify-self: center;
}

.ideal-icon {
    align-self: center;
    justify-self: center;
}

.energy-text {
    color: #F6F9E5;
    font-size: 1em;
    margin: 0 20px;
}

.calm-text {
    color: #C47B59;
    font-size: 1em;
    margin: 0 20px;
}

.ideal-text {
    color: #64BAA1;
    font-size: 1em;
    margin: 0 20px;
}

.button_block1 {
    border: 2px solid black;
    width: 11em;
    height: 2em;
}

.buffer_frame1 {
    height: 6em;
    width: 100%;
}

.block2 {
    width: 100%;
    background-color: #005466;
    /* padding: 9em 3em; */
    display: grid;
    grid-template-columns: 55% 45%;
}

.energy-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blue_box{
    width: 100%;
}

.mini_info_energy {
    height: 50%;
    width: 70%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 10% 15%;
    gap: 30px;
    margin: 20% 10% 20%;
    color: #F6F9E5;
}

.block2_title {
    font-size: 3.5em;
}

.taste_energy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 40%;
}

.shop-energy {
    width: 16em;
    height: 3em;
    background-color: #005466;
    border: 1px solid #F6F9E5;
    color: #F6F9E5;
}

.buffer_frame2 {
    height: 6em;
    width: 100%;
}

.footer{
    width: 100%;
}

.share_tag {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 6em;
}

.share_title {
    font-size: 40px;
}

.final_block {
    background-image: url(assets/footer_bg.png);
    background-color: #19424b;
    width: 100%;
    height: 44em;
}

.final_block_title {
    font-size: 3.5em;
    margin: 2em;
}

.wrapper_footer_text {
    color: white;
    float: left;
    width: 30%;
    height: 30%;
    margin: 6em;
}

.get_neuro {
    width: 16em;
    height: 4em;
    background-color: black;
    color: white;
}


@media  screen and (max-width: 425px) {

.top_line {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: 1fr 20%;
    justify-content: space-between; */
}

.nav1{
    flex: 0 1 auto;
    display: none;
}

.logo{
    justify-self: left;
    height: 100%;
}

.header_link{
    display: grid;
    justify-content: left;
    margin-left: 30px;
}

.nav_burger{
    display: flex;
    align-self: center;
}

.banner {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-image: none;
    height: auto;
    width: 100%;
}

.bg_img_container{
    display: grid;
}

.bg_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text_block {
    background-color: #005466;
    width: 60%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.title {
    font-size: 4em;
}

.text {
    font-size: 1.5em;
}

.black_button {
    height: 3rem;
    width: 5rem;
    /* padding: 20px 30px; */
    color: white;
}

.cookies_disclaimer {
    top: 10%;
    font-size: 0.7em;
    height: 5em;
    width: 100%;
}

.buffer{
    display: none;
}

.assortment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .energy-focus {
    width: 36em;
    height: 31em;
} 

.calm-clarity {
    width: 36em;
    height: 31em;
}

.ideal-state {
    width: 36em;
    height: 31em;
} */

.energy-text, .calm-text, .ideal-text {
    font-size: 2em;    
}

.button_block1 {
    width: 22em;
    height: 4em;
}

.block2 {
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
}

.mini_info_energy {
    height: auto;
    width: 90%;
    justify-items: center;
    gap: 10px;
    margin:  0 30px 30px;
}

.block2_title {
    font-size: 4em;
    margin-left: 40%;
}

.text {
    width: 70%;
}

.taste_energy {
    width: 30%;
}

.shop-energy {
    width: 25em;
    height: 5em;
}

.final_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    height: auto;
background-image: none;
width: 100%;
}

.final_block_title {
    font-size: 4em;
    margin: 0.5em;
}

.wrapper_footer_text {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
    align-items: center;
    justify-items: center;
}

.get_neuro {
    width: 25em;
    height: 6em;
    background-color: black;
    color: white;
}


}